{% extends "base.html" %}

{% block title %} {% endblock %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Счёт</th>
        <th scope="col">Баланс</th>
        <th scope="col">Владелец</th>
        <th scope="col">Действия</th>
    </tr>
    </thead>
    <tbody>
    {% for account in accounts %}
    <tr>
        <th scope="row">{{ account.id }}</th>
        <td>{{ account.name }}</td>
        <td>{{ account.balance }}</td>
        <td>{{ account.owner }}</td>
        <td>
            <a href="{% url 'account-update' account.pk %}" class="btn btn-success">Update</a>
            <a href="{% url 'account-delete' account.pk %}" class="btn btn-primary">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'account-create' %}" class="btn btn-primary">Создать</a>
<a href="{% url 'transaction' %}" class="btn btn-primary">Перевести</a>

{% endblock %}